name: Build and Push to Docker Hub
on:
  push:
    branches: [ "main" ] # Runs every time you save code to 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./vision-service # Points to your bot folder
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/vision-bot:latest
